.input_input{
    width: 90%;
    font-size: 1rem;
    padding:1%;
    box-sizing: border-box;
    border: none;
    background: none;
    background-color:#e5ebee;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 6px;

    display: block;
    font-family: 'Montserrat';
    font-weight: bold;
}
.input_heading{
      font-weight: medium;
      width: 90%;
       
}
.input_input:focus{
    border: 1px solid blue;
}
.spinner {
  width: 18px;
  height: 18px;
  border: 3px solid #ffffff;
  border-top: 3px solid #000000;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
  display: inline-block;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}