.input_input{
    font-size: clamp(12px,1vw,16px);
    padding:clamp(10px,2vw,0.5rem);
    box-sizing: border-box;
    border: none;
    background: none;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    display: block;
}

.input_input:focus{
    border: 1px solid blue;
}
.spinner {
  width: 18px;
  height: 18px;
  border: 3px solid #ffffff;
  border-top: 3px solid #000000;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
  display: inline-block;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}