.button_button{
   font-size: clamp(12px,1vw,16px);
    background: none;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: #7754F6;
    border-radius: 6px;
    padding: 1.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    box-sizing: border-box;
}