*{
    margin: 0;
}
.notice-bar-parent{
    
    position: absolute;
    border: 1px solid black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  background-color: rgba(84, 98, 111, 0.12);
}
.notice-bar-card{
    position: relative;
    display: flex;
    border-radius: 6px;
    align-items: center;
    flex-direction: column;
    padding: 0% 1% 1% 1%;
    box-sizing: border-box;
    background-color: white;
    
}
.notice-bar-card img{
    height: 50px;
    width: auto;
    margin-bottom: 28px;
   object-fit: contain;
   margin-top: 30px;
}
.notice-bar-heading{
    font-size: clamp(1rem,3vw,1.2rem);
    margin-bottom: 5px;
    margin-top: 10px;
}
.close-button-notice-board{
    position: absolute;
    right: 0;
    top: 1;
    background: none;
    font-size: 1rem;
    border: none;
}