* {
    margin: 0;
    font-family: 'Inter';
}

.signup_form_parent {

    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.signup_form {
    color: #232323;
    width: min(600px, 90%);
    padding: 1%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: clamp(2rem,1vw,1rem);
    border-radius: 10px;
    
}

.signup_heading {
    font-size: clamp(1rem,3vw,3rem);
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
}
.signup_subheading{
    color: #818181;
    margin-bottom: 25px;
    font-size: clamp(12px,1vw,16px);
}

